/*
 * https://codepen.io/basham/pen/OpNybO
 */
:root {
  --color-base-0: #ffffff;
  --color-base-5: #ffecd9;
  --color-base-10: #ffd9b4;
  --color-base-15: #ffc68f;
  --color-base-20: #ffb36a;
  --color-base-25: #ffa143;
  --color-base-30: #ff8e0c;
  --color-base-30: darkorange; /* #ff8c00 */
  --color-base-35: #ed8206;
  --color-base-40: #d9780b;
  --color-base-45: #c56d0e;
  --color-base-50: #b26311;
  --color-base-55: #9f5912;
  --color-base-60: #8c4f12;
  --color-base-65: #7a4513;
  --color-base-70: #683c12;
  --color-base-75: #573311;
  --color-base-80: #462a10;
  --color-base-85: #36210e;
  --color-base-90: #27180a;
  --color-base-95: #190f05;
  --color-base-100: #000000;
  /* coral, cornflowerblue, darkorange, darkseagreen, dodgerblue, orangered, orange, lightcoral */
  --color-ix: var(--color-base-30);
  --color-green: limegreen;
  --color-red: orangered;

  --font: system, sans-serif;

  --fs-1: 1rem;
  --fs-2: calc(18rem/16);
  --fs-3: calc(20rem/16);
  --fs-4: calc(28rem/16);

  --lh-1: 1.25rem;
  --lh-2: 1.5rem;
  --lh-3: 1.75rem;
  --lh-4: 2rem;

  --px-1: calc(1rem/16);
  --px-2: calc(2rem/16);
  --px-3: calc(3rem/16);

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;

  --border: var(--px-1) solid var(--color-base-100);
}

* {
  box-sizing: border-box;
}

:focus {
  outline: var(--px-2) solid var(--color-ix);
  outline-offset: var(--px-2);
}

::placeholder {
  color: var(--color-base-50);
}

html {
  background-color: var(--color-base-95);
  color: var(--color-base-5);
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font);
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  margin: 0;
}

h1 {
  font-size: var(--fs-4);
  font-weight: normal;
  line-height: var(--lh-4);
  margin: 0;
}

h1:focus {
  outline: none;
}

h2 {
  font-size: var(--fs-3);
  font-weight: normal;
  line-height: var(--lh-3);
  margin: var(--size-6) 0 var(--size-4);
}

label {
  display: inline-block;
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  margin-bottom: var(--size-2);
}

a {
  color: var(--color-ix);
}

a:hover {
  color: var(--color-base-20);
}

.button {
  --color-inner-shadow: transparent;
  background-color: var(--color-base-80);
  border: var(--px-2) solid var(--color-base-80);
  border-radius: var(--size-1);
  box-shadow:
    inset 0 0 0 var(--px-2) var(--color-inner-shadow),
    0 0 0 var(--px-1) var(--color-base-100);
  color: var(--color-ix);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: var(--fs-1);
  font-weight: bold;
  line-height: 1;
  padding: calc(var(--size-3) - var(--px-2));
}

.button:hover {
  background-color: var(--color-base-75);
  border-color: var(--color-base-75);
}

.button--primary {
  background-color: var(--color-ix);
  border-color: var(--color-ix);
  color: var(--color-base-95);
}

.button--primary:hover {
  background-color: var(--color-base-25);
  border-color: var(--color-base-25);
}

.button:focus {
  --color-inner-shadow: var(--color-base-95);
  border-color: var(--color-ix);
  outline: none;
}

.button--small {
  padding: calc(var(--size-2) - var(--px-2));
}

.input {
  background-color: var(--color-base-100);
  border: var(--px-2) solid var(--color-base-70);
  border-radius: var(--size-1);
  color: var(--color-base-5);
  font-family: var(--font);
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  max-width: 16rem;
  padding: calc(var(--size-2) + var(--px-1)) calc(var(--size-3) - var(--px-1));
  width: 100%;
}

.input:hover {
  border-color: var(--color-base-50);
}

.input:focus {
  border-color: var(--color-ix);
  outline: none;
}

.list-inline {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2) var(--size-4);
  list-style-type: '';
  margin: var(--size-4) 0;
  padding: 0;
}

/* Utilities */

.u-flex {
  display: flex;
}

.u-lh-1 {
  line-height: var(--lh-1);
}

.u-lh-2 {
  line-height: var(--lh-2);
}

.u-lh-3 {
  line-height: var(--lh-3);
}

.u-lh-4 {
  line-height: var(--lh-4);
}

.u-m-0 {
  margin: 0;
}

.u-m-top-2 {
  margin-top: var(--size-2);
}

.u-m-top-4 {
  margin-top: var(--size-4);
}

.u-m-top-6 {
  margin-top: var(--size-6);
}

.u-p-0 {
  padding: 0;
}

.u-sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.u-text-bold {
  font-weight: bold;
}

.u-text-center {
  text-align: center;
}

.u-text-nobr {
  white-space: nowrap;
}

.u-text-right {
  text-align: right;
}

.u-ts-1 {
  font-size: var(--fs-1);
  line-height: var(--lh-1);
}

.u-ts-2 {
  font-size: var(--fs-2);
  line-height: var(--lh-2);
}

.u-ts-3 {
  font-size: var(--fs-3);
  line-height: var(--lh-3);
}

.u-ts-4 {
  font-size: var(--fs-4);
  line-height: var(--lh-4);
}
